{% extends 'website/base.html' %}
{% block content %}
{% include 'website/tool_bar.html' %}

<div class="content-container">
    <div class="sales-container">
        <form method="post" enctype="multipart/form-data" class="form-box">
            <h2>Enter category details:</h2>
            {% csrf_token %}
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" required><br><br>

            <label for="thumbnail">Upload Image</label>
            <input type="file" name="thumbnail" accept="image/*"><br><br>
            <div id="progress">0%</div>

            <label for="description">Description:</label>
            <textarea id="description" name="description"></textarea><br><br>

            <input type="submit" value="Add Category" class="action edit-btn">

        </form>        

    </div>
</div>            
<script>
function uploadFile(file) {
    return new Promise((resolve, reject) => {

        const formData = new FormData();
        formData.append("file", file);
        formData.append("upload_preset", "YOUR_PRESET");
        formData.append("resource_type", "auto");

        const xhr = new XMLHttpRequest();

        xhr.open("POST", "https://api.cloudinary.com/v1_1/YOUR_CLOUD_NAME/upload");

        xhr.upload.onprogress = (e) => {
            if (e.lengthComputable) {
                let percent = Math.round((e.loaded / e.total) * 100);
                document.getElementById("progress").innerText = percent + "%";
            }
        };

        xhr.onload = () => resolve(JSON.parse(xhr.responseText));
        xhr.onerror = reject;

        xhr.send(formData);
    });
}

document.querySelector("form").addEventListener("submit", async function(e){
    const files = document.getElementById("media").files;

    if(files.length === 0) return; // normal Django submit

    e.preventDefault();

    for (let file of files) {
        await uploadFile(file);
    }

    this.submit(); // after upload
});
</script>

{% endblock %}