{% extends 'website/base.html' %}
{% block content %}
{% include 'website/tool_bar.html' %}

<div class="content-container">
    <div class="sales-container">
        <form method="post" class="form-box" enctype="multipart/form-data">
            <h2>Add Product</h2>
            {% csrf_token %}
            <label>Name:</label>
            <input type="text" name="name" required>
            <label>Category:</label>
            <select name="category" required>
                <option value="">Select a category</option>
                {% for cat in categories %}
                    <option value="{{ cat.id }}">{{ cat.name }}</option>
                {% endfor %}
            </select>
            <label>Caption:</label>
            <textarea name="caption" id="description"></textarea>
            <label>Price:</label>
            <input type="number" name="price" step="500" min="0" required>
            <label>Upload Media:</label>
            <input type="file" id="media" name="media" accept=".jpg,.jpeg,.png,.webp,.mp4,.webm" multiple>
            <div id="progress" style="background-color: green;color: white;">0%</div>
            <label>Available:</label>
            <input style="width:1.5rem;height:1.5rem;" type="checkbox" name="is_available" checked><br>
            <label for="description">Sort id:</label>
            <input type="text" id="sort_product" name="sort_product" value="{{ add_product.sort_product }}" required><br>
            <button type="submit" class="action edit-btn">Add Product</button>
        </form>
    </div>
</div>
<script>
function uploadFile(file) {
    return new Promise((resolve, reject) => {

        const formData = new FormData();
        formData.append("file", file);
        formData.append("upload_preset", "YOUR_PRESET");
        formData.append("resource_type", "auto");

        const xhr = new XMLHttpRequest();

        xhr.open("POST", "https://api.cloudinary.com/v1_1/YOUR_CLOUD_NAME/upload");

        xhr.upload.onprogress = (e) => {
            if (e.lengthComputable) {
                let percent = Math.round((e.loaded / e.total) * 100);
                document.getElementById("progress").innerText = percent + "%";
            }
        };

        xhr.onload = () => resolve(JSON.parse(xhr.responseText));
        xhr.onerror = reject;

        xhr.send(formData);
    });
}

document.querySelector("form").addEventListener("submit", async function(e){
    const files = document.getElementById("media").files;

    if(files.length === 0) return; // normal Django submit

    e.preventDefault();

    for (let file of files) {                                                           
        await uploadFile(file);
    }

    this.submit(); // after upload
});
</script>
{% endblock %}