{% extends 'website/base.html' %}
{% block content %}
{% include 'website/tool_bar.html' %}
<div class="content-container">
    <div class="sales-container">
        <form method="post" enctype="multipart/form-data" class="form-box">
            <h2>Enter category details:</h2>
            {% csrf_token %}
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" required><br><br>
            
            <input type="file" id="thumbnail" name="thumbnail" accept="image/*">
            <label for="thumbnail" class="action edit-btn" id="edit-btn">Upload Image</label><br><br>
            
            <label for="description">Description:</label>
            <textarea id="description" name="description"></textarea><br><br>
            
            <input type="submit" value="Add Category" class="action edit-btn">
        </form>        
    </div>
</div>
{% endblock %}