{% load static %}
<html lang="sw">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Tunatoa bidhaa bora, zenye ubora wa juu na bei rafiki, zikikidhi mahitaji ya kila siku na biashara. Lengo letu ni kukuletea teknolojia inayorahisisha maisha yako kwa urahisi na uaminifu.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'website/css/main.css' %}">
    <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    <title>Alamo Electonics</title>
    {% if site_settings and site_settings.meta_pixel %}
        {{ site_settings.meta_pixel|safe }}
    {% endif %}
    <!-- Meta Pixel Code -->
    <script>
    !function(f,b,e,v,n,t,s)
    {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};
    if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
    n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];
    s.parentNode.insertBefore(t,s)}(window, document,'script',
    'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '1882304589333530');
    fbq('track', 'PageView');
    </script>
    <noscript><img height="1" width="1" style="display:none"
        src="https://www.facebook.com/tr?id=1882304589333530&ev=PageView&noscript=1"
        /></noscript>
        <!-- End Meta Pixel Code -->

</head>
<body>
    {% block content %}
    {% endblock %}
    <a href="#" class="wa-float" ><i class="fab fa-whatsapp" id="waBtn"></i></a>
    <div class="wa-popup" id="waPopup">
        <div class="wa-popup-header">
            Wasiliana Nasi
        </div>
        <div class="wa-popup-body">
            <p>Unahitaji Msaada? Wasiliana Nasi.</p>
            <a href="https://wa.me/255686705556" target="_blank">Fungua WhatsApp</a>
            <a href="tel:+255656123248" class="call-btn">Piga Simu</a>
        </div>
    </div>
<script>
    const waBtn = document.getElementById("waBtn");
    const waPopup = document.getElementById("waPopup");
    waBtn.addEventListener("click", function(e) {
        e.preventDefault();

        if (waPopup.style.display === "block") {
            waPopup.style.display = "none";
        } else {
            waPopup.style.display = "block";
        }
    });

    // close when clicking outside
    document.addEventListener("click", function(e) {
        if (!waPopup.contains(e.target) && e.target !== waBtn) {
            waPopup.style.display = "none";
        }
    });
</script>
</body>
</html>