{% extends 'website/base.html' %}
{% block content %}

{% include 'website/tool_bar.html' %}

<div class="content-container">
    <div class="sales-container">

        <form class="form-box" method="post">
            {% csrf_token %}

            <h2>
                Are you sure you want to delete
                "<strong>{{ product.name }}</strong>"?
            </h2>

            <div style="display: flex; gap: 10px; margin-top: 20px;">

                <button type="submit" class="fake-btn">
                    Yes, Delete
                </button>

                {% if product.category %}
                    <a href="{% url 'admin_panel_products' slug=product.category.slug %}" class="edit-btn">
                        Cancel
                    </a>
                {% else %}
                    <a href="/" class="edit-btn">
                        Cancel
                    </a>
                {% endif %}

            </div>

        </form>

    </div>
</div>

{% endblock %}