{% extends 'website/base.html' %}
{% block content %}
{% include 'website/tool_bar.html' %}
<div class="content-container">
    <div class="sales-container">
        <form class="form-box" method="post">
            {% csrf_token %}
            <h2>Are you sure you want to delete "<strong>{{ product.name }}</strong>"?</h2>
            <button type="submit" class="fake-btn">Yes, Delete</button>
            <button type="button" class="edit-btn"><a href="{% url 'admin_panel_products' %}">Cancel</a></button>
        </form>
    </div>
</div>
{% endblock %}