{% extends 'website/base.html' %}
{% block content %}
{% include 'website/tool_bar.html' %}

<div class="content-container">
    <div class="sales-container">
        <form class="form-box" method="post" enctype="multipart/form-data">
            <h2>Edit Product</h2>
            {% csrf_token %}
            <label>Name:</label>
            <input class="input" type="text" name="name" value="{{ edit_product.name }}" required>
            <label>Category:</label>
            <select class="input" name="category" required>
                <option value="">Select a category</option>
                {% for category in categories %}
                    <option value="{{ category.id }}"
                        {% if edit_product.category.id == category.id %}selected{% endif %}>
                        {{ category.name }}
                    </option>
                {% endfor %}
            </select>
            <label>Caption:</label>
            <input class="input" type="text" name="caption" value="{{ edit_product.caption }}">
            <label>Price:</label>
            <input class="input" type="number" name="price" step="500" min="0"
                   value="{{ edit_product.price }}" required>
            <label>Current Media:</label>
            <div class="arrangement">
                {% for media in edit_product.media.all %}
                    {% if media.is_video %}
                        <div class="array-video">
                            <video width="200" controls>
                                <source src="{{ media.file.url }}">
                            </video>
                            <a href="{% url 'delete_media' media.id %}" class="fake-btn" id="order-btn" onclick="return confirm('Delete this media?')">Delete</a>
                        </div>
                    {% else %}
                        <div class="array-image">
                            <img src="{{ media.file.url }}" width="200">
                            <a href="{% url 'delete_media' media.id %}" class="fake-btn" id="order-btn" onclick="return confirm('Delete this media?')">Delete</a>
                        </div>
                    {% endif %}
                {% empty %}
                    <p>No media available</p>
                {% endfor %}
            </div>
            <br><br>
            <label>Add New Media:</label>
            <input type="file" class="input" id="images" name="media" accept=".jpg,.jpeg,.png,.webp,.mp4,.webm" multiple><br>
            <label>Available:</label>
            <input style="width: 25px; height: 25px;" type="checkbox" name="is_available" {% if edit_product.is_available %} checked {% endif %}><br><br>
            <button type="submit" class="edit-btn">Save Changes</button>
        </form>
    </div>
</div>
{% endblock %}