{% extends 'website/base.html' %}
{% block content %}
{% include 'website/tool_bar.html' %}
<div class="content-container">
    <div class="sales-container">
        <form method="POST" enctype="multipart/form-data" class="form-box">
            <h2>Edit Category</h2>
            {% csrf_token %}

            <label>Name</label>
            <input type="text" name="name" value="{{ edit_category.name }}" required>

            <label>Current Thumbnail</label>
            {% if edit_category.thumbnail %}
                <img src="{{ edit_category.thumbnail.url }}" style="width:300px; display: block; margin: 0 auto;" >
            {% else %}
                <p>No image</p>
            {% endif %}<br><br>

            <label for="thumbnail">Upload Thumbnail</label>
            <input type="file" name="thumbnail" accept="image/*"><br>

            <label>Description</label>
            <textarea name="description" id="description">{{ edit_category.description }}</textarea>

            <button type="submit" class="edit-btn">Save Changes</button>
        </form>
    </div>
</div>
{% endblock %}