{% extends 'website/base.html' %}
{% block content %}
<!-- Meta Pixel Code -->
    <script>
    !function(f,b,e,v,n,t,s)
    {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};
    if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
    n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];
    s.parentNode.insertBefore(t,s)}(window, document,'script',
    'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '1882304589333530');
    fbq('track', 'PageView');
    </script>
    <noscript><img height="1" width="1" style="display:none"
        src="https://www.facebook.com/tr?id=1882304589333530&ev=PageView&noscript=1"
        /></noscript>
        <!-- End Meta Pixel Code -->
<div class="page">
    <h2 style="color: white;">Ingiza Taarifa Hapa Kutuma Order</h2>
    <form class="order-form" method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        <input type="hidden" name="product_id" value="{{ product.id }}">
        <input type="hidden" name="product_name" value="{{ product.name }}">

        <label for="name">Jina:</label>
        <input class="input" type="text" name="name" id="name" placeholder="Jina" required>

        <label for="phone">Namba ya Simu:</label>
        <input class="input" type="tel" id="phone" name="phone" placeholder="0712345678" required>

        <label for="location">Location:</label>
        <input class="input" type="text" name="location" id="location" placeholder="Location" required>
        
        <label for="quantity">Quantity:</label>
        <input class="input" type="number" name="quantity" id="quantity" min="1" required>

        <button class="order-btn" type="submit" onclick="alert('Ahsante! \nOrder Imepokelewa,\nUtapigiwa Simu na Muhudumu Wetu Hivi Punde.')">
           <strong style="color: white; font-family:Inter;font-size: 20px;">Order {{ product.name }}</strong> 
        </button>
    </form>
</div>
{% endblock %}