<div class="side-bar">
    <div class="icon-container">
        <a href="{% url 'admin_panel' %}" class="icon-link">
        <div class="icons">
            <i class="fa-solid fa-folder"></i>
            <span class="icon-title">View<br>Categories</span>
        </div>
        </a>
    </div>
    <div class="icon-container">
        <a href="{% url 'add_category' %}" class="icon-link">
        <div class="icons">
            <i class="fa-solid fa-folder-plus"></i>
            <span class="icon-title">Add <br> Category</span>
        </div>
        </a>
    </div>
    <div class="icon-container">
        <a href="{% url 'add_product' %}" class="icon-link">
        <div class="icons">
            <i class="fa-solid fa-box-open"></i>
            <span class="icon-title">Add <br> Product</span>
        </div>
    </a>
    </div>
    <div class="icon-container">
        <a href="{% url 'categories' %}" class="icon-link">
        <div class="icons">
            <i class="fa-solid fa-globe"></i>
            <span class="icon-title">View Site</span>
        </div>
    </a>
    </div>
    <div class="icon-container"> 
        <a href="{% url 'order_flow' %}" class="icon-link">
        <div class="icons">
            <i class="fa-solid fa-receipt"></i>
            <span class="icon-title">View<br>Orders</span>
        </div>
    </a>
    </div>
    <div class="icon-container">
        <a href="{% url 'meta_pixel' %}" class="icon-link">
            <div class="icons">
                <i class="fa-solid fa-chart-line"></i>
                <span class="icon-title">Meta<br>Pixel</span>
            </div>
        </a>
    </div>
</div>
<div class="top-bar">
    <div class="start">
        <button class="toggle-btn" onclick="toggleSidebar()">☰</button>
        <div class="manager">
            <a href="{% url 'sales' %}"><i class="fa-solid fa-coins" style="padding: 10px; font-size: 20px;"></i><span>Sales Manager</span></a>
            <a href="{% url 'shipping_home' %}"><i class="fa-solid fa-ship" style="padding: 10px; font-size: 20px;"></i><span>Shipments</span></a>
        </div>
    </div>
    <div class="end">
        <div class="manager">
            <a href="{% url 'logout' %}"><i class="fa-solid fa-right-from-bracket" style="padding: 10px; font-size: 20px;"></i><span>Logout</span></a>
        </div>
    </div>
</div>
<script>
function toggleSidebar(){
    document.body.classList.toggle("sidebar-open");
}
</script>