# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# =========================
# Virtual Environment
# =========================
venv/
env/
.venv/

# =========================
# Django
# =========================
db.sqlite3
*.sqlite3

# Static & Media
staticfiles/
media/

# =========================
# Environment variables (VERY IMPORTANT)
# =========================
.env
.env.*

# =========================
# Logs
# =========================
*.log

# =========================
# OS files (useless junk)
# =========================
.DS_Store
Thumbs.db

# =========================
# VS Code / Editor
# =========================
.vscode/
.idea/

# =========================
# Python packaging
# =========================
build/
dist/
*.egg-info/

# =========================
# Cache / temp
# =========================
*.swp
*.tmp