{% extends 'website/base.html' %}
{% block content %}
<div class="login-wrapper">
    <div class="login-container">

        <div class="brand">
            <h1>ALAMO ELECTRONICS</h1>
            <p class="welcome">Welcome back, Riphaty</p>
        </div>

        <form method="post" class="login-box">
            {% csrf_token %}

            <div class="input-group">
                <input type="text" name="username" required>
                <label>Username</label>
                <span class="icon">👤</span>
            </div>

            <div class="input-group">
                <input type="password" name="password" required>
                <label>Password</label>
                <span class="icon">🔒</span>
            </div>

            <button type="submit" class="login-btn">
                <span>Login</span>
            </button>

        </form>

    </div>
</div>
{% endblock %}